.home-board {
  grid-area: main;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.home-board h2 {
  margin: 0;
}
.home-board p {
  width: 80%;
  text-align: center;
  font-size: 18px;
}
